.cards-wrapper {
  text-align: center;
  color: white;
  margin-top: 100px;
  border: 1px white dashed;
}

h2 {
  font-family: "Grenze Gotisch", serif;
  font-size: 4rem;
  font-weight: 300;
  margin: 0; 
}


#cards-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#choose-cards {
    width: 100px;
    margin: 15px;
    cursor: pointer;
}