




.card-image {
  margin: 20px 0 0 20px;
  width: 120px;
  justify-content: space-bewteen;
  border-radius: 8px;
  transition: transform 0.2s;
  cursor: pointer;
  pointer-events: auto;
}

.card-image.selected {
  border: 3px solid gold;
  box-shadow: 0 0 10px gold;
}

.card-image:hover {
  transform: scale(1.05);
}