.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.control-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
}