.reveal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.reveal-wrapper h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}

.pile-container {
    position: relative;
    width: 150px;
    height: 200px;
    margin-top: 20px;
   
}

.pile-card {
    position: absolute;
    width: 120px;
    left: 1;
    top: 1;
    transform: rotate(var(--angle, 0deg)) translate(var(--offset-x, 0), var(--offset-y,0));
    opacity: 0.9;
    border-radius: 5%
  
}

.pile-container img:nth-child(3n) {
    --angle: -3deg;
}

.pile-container img:nth-child(2n) {
    --angle: 4deg;
    --offset-x: 5px;
}

.pile-container img:nth-child(5n) {
    --angle: -6deg;
    --offset-Y: 4deg;
}

.reveal-title {
    margin: 100px auto 0 auto;

}

.reveal-container {
    width: 75%;
    height: 615px;
    margin: 5px auto 0 auto;
}

.reveal-btn {
    margin: 0 auto;
}